  body {background-color: #f0f8ff; /* Cor suave */
    font-family: Arial, sans-serif;
    padding: 20px;}

h1 {color: #4b0082;
    text-align: center;}

p {font-size: 18px;
    text-align: justify;}

ul {margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.8;}

.hobby-img {width: 300px;
    border-radius: 15px;
    display: block;
    margin-bottom: 20px;}

table {width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;}

th, td {border: 1px solid #ccc;
    padding: 10px;
    text-align: center;}

.flag-img {width: 100px;
    border-radius: 10px;}

a {text-decoration: none;
    color: #0000cd;
    font-weight: bold;}

a:hover {color: #ff4500;}